<ul id="sidenav">
    <% contents.forEach(item => { %>
        <% if (item.name !== 'Index') { %>
            <% if (item.type === 'directory') { %>
                <li>
                    <div class="nav-directory"><%= item.name %></div>
                    <%- include('sidenav', { contents: item.contents }) %>
                </li>
            <% } else { %>
                <li>
                    <a class="nav-link" data-path="<%= PathHelpers.getItemHostedPath(item, basePath) %>" rel="prefetch">
                        <%= item.name %>
                        <div class="dot"></div>
                    </a>
                </li>
            <% } %>
        <% } %>
    <% }) %>
</ul>
