<ul>
    <% contents.forEach(item => { %>
        <% if (item.type === 'directory') { %>
            <li>
                <strong><%= item.name %></strong>
                <%- include('sidenav', { contents: item.contents }) %>
            </li>
        <% } else { %>
            <li>
                <a href="<%= item.fullPath.replace('.md', '.html') %>"><%= item.name %></a>
            </li>
        <% } %>
    <% }) %>
</ul>